.content {
  // padding: 50px 170px 0 170px;
  // width: 1240px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.36);
  backdrop-filter: blur(10px);
  z-index: 1;
  overflow-y: overlay;
}

.back_btn {
  transition: all 0.3s;
  &:hover {
    color: rgb(82, 113, 236);
  }
}
