.home {
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #0b0e1d, #a7c9a7);
}

.content {
  width: 1240px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.36);
  backdrop-filter: blur(10px);
  z-index: 1;
  padding-top: 100px;
  overflow-y: auto;
}
